
.app-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .app-header:hover,
  .app-header.scrolled {
    background-color: #141414;
  }
  
  .header-left,
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 30px;
    margin-right: 25px;
    justify-items: center;
    align-items: center;
  }
  
  .nav-links ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 0.85rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #b3b3b3;
  }

  .header-right span,
  .header-right p {
    font-size: 14px;
    font-weight: bold;
    color: #fff; /* 글자색 */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* 텍스트 그림자 */
    margin-right: 8px;
  }
  
  .logout-button {
    background-color: transparent; /* 배경 투명화 */
    border: 1px solid #fff; /* 테두리 추가 */
    color: #fff; /* 글자색 */
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .logout-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* 호버 시 약간 밝게 */
    border-color: #e50914;
    color: #e50914;
  }

.header-right {
  display: flex; /* 아이콘 및 버튼을 가로로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 15px; /* 각 아이콘 및 버튼 간 간격 */
  margin-right: 20px;
}

  
  .icon-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .icon-button:hover {
    opacity: 0.5;
  }

 

  
  .mobile-menu-button {
    display: none;
  }
  
  .mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #141414;
    z-index: 1001;
    transition: right 0.3s ease;
  }
  
  .mobile-nav.open {
    right: 0;
  }
  
  .mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
  }
  
  .mobile-nav li {
    margin: 20px 0;
  }
  
  .mobile-nav a {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    padding: 10px 20px;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .desktop-nav {
      display: none;
    }
  
    .mobile-menu-button {
      display: block;
    }
  
    .mobile-nav {
      display: block;
    }
  
    .icon-button {
      font-size: 0.75rem;
      margin-left: 10px;
    }
  
    a {
      text-align: left;
      font-size: 1.15rem !important;
    }
  }
  